extends layout

block content
    h1 Project 3 - Massive Pew Comparisons
    div#form
        p Continents
        p
            span Africa:
            input#africaCheck(type="checkbox", value="Africa")
            span Asia: 
            input#asiapcCheck(type="checkbox", value="Asia")
            span Europe:
            input#europeCheck(type="checkbox", value="Europe")
            span Middle-East: 
            input#middleCheck(type="checkbox", value="Middle-East")
            span Americas:
            input#muricaCheck(type="checkbox", value="Americas")
        p Question 1
            select#q1
        p Question 2
            select#q2
        div
            svg#viz(height=600, width=800)
