doctype html
html
  head
    title DataViz Project 3
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js')
    script(type='text/javascript' src='/javascripts/main.js')
  body
    block content
